.a-carrousel{
    text-decoration: none;
    color: white
}


.a-carrousel-externo{
    text-decoration: none;
    color: white;
    display: none;
}


#proyectos{
    margin-bottom: 50px;
}

#title-proyects{
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
    text-decoration: underline 5px #2c5547;
    margin-bottom: 20px;
}


.text-carousel{
    background-color: rgba(0, 0, 0, 0.600);
    border-radius:20px;
    padding: 3px;
    word-wrap: break-word;
    font-weight: bold;
}

.carousel-item svg{
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.text-carousel-externo{
    background-color: rgba(0, 0, 0, 0.322);
    padding: 3px;
    margin:0;
    word-wrap: break-word;
    display: none;
    color:white;
    font-weight: bold;
}

.svg-carousel-externo{
    display: none;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.322);
}

.svg-carousel-externo svg{
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: white;
}

.svg-carousel-externo svg:hover{
    background-color: rgba(44, 85, 71, 0.5);
}

@media (max-width: 1400px){
    .img-carrousel{
        height: 60vh !important;
        width: 100vw !important;
    }
    #carouselExampleCaptions{
        height: 60vh !important;
        width: 100vw !important;
    }
    .text-carousel{
        display: none;
    }
    .text-carousel-externo{
        display: block;
    }
    .svg-carousel-externo{
        display: flex;
    }
    .a-carrousel{
        display: none;
    }
    .a-carrousel-externo{
        display: block;
    }
}
