.a-carrousel{
    text-decoration: none;
    color: white
}


.a-carrousel-externo{
    text-decoration: none;
    color: white;
    display: none;
}


#proyectos{
    margin-bottom: 50px;
}

#title-proyects{
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
    text-decoration: underline 5px #2c5547;
    margin-bottom: 20px;
}


.text-carousel{
    background-color: rgba(44, 85, 71, 0.8);
    border-radius:20px;
    padding: 3px;
    word-wrap: break-word;
    font-weight: bold;
}

.text-carousel-externo{
    background-color: #2c5547;
    padding: 3px;
    margin:0;
    word-wrap: break-word;
    display: none;
    color:white;
    font-weight: bold;
}

@media (max-width: 1200px){
    .img-carrousel{
        height: 60vh !important;
        width: 100vw !important;
    }
    #carouselExampleCaptions{
        height: 60vh !important;
        width: 100vw !important;
    }
    .text-carousel{
        display: none;
    }
    .text-carousel-externo{
        display: block;
    }
    .a-carrousel{
        display: none;
    }
    .a-carrousel-externo{
        display: block;
    }
}
