.div-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#sobreMi{
    margin-bottom: 50px;
}

.sobreMi{
    width: 80%;
    margin-left: 10%;
}

#p-aboutMe{
    white-space: initial;
    
}

#cv{
    padding: 17px 35px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 50px;
    width: 50%;
}

#cv:hover{
    cursor: pointer !important;
    background-color: rgba(44, 85, 71, 0.5) !important;
}

.cards-css{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}


.card-css{
    background-color: #2c5547;
    margin-bottom: 10px;
    border-radius: none;
}

.card-css img{
    height: 100%;
}

.cards-css a{
    text-decoration: none;
    color: #646464;
}

.container-about{
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container-info{
    display: flex;
}

#estudios{
    margin-bottom: 50px;
}

.div-about h2{
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
    text-decoration: underline 5px #2c5547;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-about h5{
    padding: 10px;
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
}

.div-about p{
    font-size: 20px;
    color: aliceblue;
    text-align: left;
}

.card{
    border: 6px solid transparent !important;
    padding: 1vh;
}

.card:hover {
    border: 6px solid #2c5547 !important;
    cursor: pointer;
}

.card-body {
    width: 60%;
    margin-left: 20%;
}

#ungs, #henry{
    min-width: 50%;
    display: flex;
    justify-content: center !important;
    text-align: center;
}

#ungs img, #henry img{
    max-height: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px){
    .div-about{
        margin-top: 300px;
    }
}

@media (max-width: 1000px){
    #ungs, #henry{
        width: 100% !important;
    }
    #p-aboutMe, #ungs p, #henry p{
        font-size: 18px !important;
    }
    #cv{
        font-size: 12px !important;
        width: 80%;
    }
    .card-body {
        width: 100%;
        margin-left: 5%;
        padding: 0px;
    }

}

@media (max-width: 600px){
    .card-body {
        margin-left: 0;
    }
    .cards-css{
        display: block !important;
    }
}

@media (max-width: 410px){
    .div-about{
        margin-top: 0;
    } 
}