.div-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#sobreMi{
    margin-bottom: 50px;
}

.sobreMi{
    width: 80%;
    margin-left: 10%;
}

.cards-css{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}


.card-css{
    background-color: #2c5547;
    margin-bottom: 10px;
    border-radius: none;
}

.card-css img{
    height: 100%;
}



.container-about{
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container-info{
    display: flex;
}

#estudios{
    margin-bottom: 50px;
}

.div-about h2{
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
    text-decoration: underline 5px #2c5547;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-about h5{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.div-about p{
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 1200px){
    .div-about{
        margin-top: 300px;
    }
}

@media (max-width: 1306px){
    .cards-css{
        flex-direction: column;
    }

}

@media (max-width: 410px){
    .div-about{
        margin-top: 0;
    } 
}