.home{
    position: relative;
    color: aliceblue;
    display: flex;
    height: 100vh;
    text-align: center;
    bottom: 800px;
    animation: mov-home 2s ease 1 0.5s forwards;
    padding-top: 50px;
}

@keyframes mov-home {
    to {
      transform: translateY(95%) translateX(0);
      opacity: 1;
    }
}


.home h1{
    color: #2c5547;
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 25%;
}

.home h3{
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
}

.home p{
    font-size: 1.3em;
    color: aliceblue;
    font-weight: bold;
}

.home a{
    position: absolute;
    text-decoration: none;
    font-size: 0.5em;
}

.home a svg{
    height: 50px;
    width: 50px;
    color: aliceblue;
}

.home a p{
    margin: 0;
    text-decoration: none;
    white-space: pre;
    font-weight: bold;
    font-size: 18px;
}

.home a svg:hover{
    color:#373737;
}

.home .vertical{
    font-size: 0.5em;
    display: flex;
    align-items: center
}

.home .text{
    margin: 70px;
    margin-right: 10px;
}

.home .img{
    margin: 70px;
    display: flex;
    align-items: center;
}

.home .img img{
    border: 0px solid ;
    border-radius: 100%;
}

@media (max-width: 1200px){
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .home .text{
        animation: none;
        margin: 0;
    }
    .home .img{
        margin: 0;
        margin:0;
        justify-content: center;
        height: 500px;
    }
    .home .img img{
        margin: 0;
    }
    .home h1{
        margin-top: 20%;
    }
}

@media (max-width: 850px){
    .home h1{
        margin-top: 30%;
    }
    .home h1{
        font-size: 4em;
        margin-top: 90px;
    }
    .home h3{
        font-size: 2em;
    }
}

@media (max-width: 590px){
    .home h1{
        font-size: 3em;
        margin-top: 90px;
    }
    .home h3{
        font-size: 2em;
    }
    .home p{
        font-size: 1em;
    }
}

@media (max-width: 540px){
    .home h1{
        margin-top: 150px;
    }
}

@media (max-width: 410px){
    .home h1{
        margin-top: 100px;
    }
    .home .img{
        margin: 0;
        margin:0;
        justify-content: center;
        height: 400px;
    }
    .home .img img{
        margin: 0;
        margin:0;
        justify-content: center;
        height: 400px;
    }
}


@media (max-height: 790px){
    .home h1{
        margin-top: 170px !important;
    }
    @keyframes mov-home {
        to {
          transform: translateY(100%) translateX(0);
          opacity: 1;
        }
    }
}

@media (max-height: 726px){
    @keyframes mov-home {
        to {
          transform: translateY(110%) translateX(0);
          opacity: 1;
        }
    }
}

@media (max-height: 680px){
    @keyframes mov-home {
        to {
          transform: translateY(120%) translateX(0);
          opacity: 1;
        }
    }
}