.home{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100vh;
    height: 96vh;
    animation: mov-home 2s ease 1 0.5s forwards;
}

@keyframes mov-home {
    from {
      transform: translateY(-100%) translateX(0);
      opacity: 1;
    }
    to {
        transform: translateY(0%) translateX(0);
        opacity: 1;
      }
}

.picture {
    border-radius: 100%;
}

.home h1{
    color: #2c5547;
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 0;
}

.home h3{
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
}

.home p{
    font-size: 1.3em;
    color: aliceblue;
    font-weight: bold;
}

.home a{
    position: absolute;
    text-decoration: none;
    font-size: 0.5em;
}

.home a svg{
    height: 50px;
    width: 50px;
    color: aliceblue;
}

.home a p{
    margin: 0;
    text-decoration: none;
    white-space: pre;
    font-weight: bold;
    font-size: 18px;
}

.home a svg:hover{
    color:#373737;
}

.home .vertical{
    font-size: 0.5em;
    display: flex;
    align-items: center
}

.home .img{
    display: flex;
    align-items: center;
}

.home .img img{
    border: 0px solid ;
    border-radius: 100%;
}

.text {
    padding-bottom: 6vh;
}

.cont-about {
    display: flex;
    justify-content: center;
}

@media (max-width: 920px) {
    #inicio {
        display: flow-root !important;
    }
    .text{
        text-align: center;
    }
}

@media (max-width: 850px){
    .home h1{
        font-size: 4em;
    }
    .home h3{
        font-size: 2em;
    }
}

@media (max-width: 650px){
    .picture {
        height: 400px !important;
    }
}

@media (max-width: 590px){
    .home h1{
        font-size: 3em;
    }
    .home h3{
        font-size: 2em;
    }
    .home p{
        font-size: 1em;
    }
}

/*
@media (max-width: 1200px){
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .home .text{
        animation: none;
        margin: 0;
    }
    .home .img{
        margin: 0;
        margin:0;
        justify-content: center;
        height: 400px;
    }
    .home .img img{
        margin: 0;
    }
}

@media (max-width: 850px){
    .home h1{
        font-size: 4em;
        /*margin-top: 90px;
    }
    .home h3{
        font-size: 2em;
    }
    .home .img{
        margin: 0;
        margin:0;
        justify-content: center;
        height: 400px;
    }
}

@media (max-width: 650px){
    .home .img img{
        margin: 0;
        margin:0;
        justify-content: center;
        height: 400px;
    }
}

@media (max-width: 590px){
    .home h1{
        font-size: 3em;
    }
    .home h3{
        font-size: 2em;
    }
    .home p{
        font-size: 1em;
    }
}
*/