.div-contact{
  position: relative;
  text-align: center;
}

.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 60vh;
    padding: 50px 50px 0px 50px;
}

#contact p{
  margin-top: 100px;
}

.contact-container h1 {
    margin: 50px auto 0px auto;
    font-size: 2.5em;
    color: #646464;
    font-weight: bold;
    margin-top: 0;
    text-decoration: underline 5px #2c5547;
    margin-bottom: 20px;
}

.contact-container .contact-links {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.contact-container .contact-links a{
  text-decoration: none !important;
}

.contact-container .contact {
  position: inherit;
  height: 280px;
  width: 30%;
  background-color: rgba(44, 85, 71, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container .contact:hover {
  background-color: rgba(44, 85, 71, 0.5);
  transform: scale(1.1);
}

.contact-container .contact .icon {
  position: relative;
  font-size: 130px;
  color: aliceblue;
}

.contact-container .contact h2 {
  position: relative;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-weight: bold;
}

.contact-container .contact h2 span {
  font-size: 15px;
  font-weight: 100;
  margin-top: 3px;
  
  font-weight: bold;
}
.container .mail-container{
    position: inherit;
    height: 280px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#formulario{
    width: 80%;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
}

.container .mail-container textarea{
    width: 100%;
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #2c5547;
    border-radius: 10px;
    font-size: 18px;
    padding-bottom: 1px;
    padding-top: 2px;
}
.container .mail-container input{
    width: 100%;
    height: 30px;
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #2c5547;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0.8;
    padding-bottom: 1px;
    padding-top: 2px;
}
.container .mail-container button{
    font-weight: bold;
    width: 100%;
    color: #fff;
    background-color: #2c5547;
    border: none;
    border: 3px solid #2c5547;
    border-radius: 10px;
    font-size: 20px;
}
.container .mail-container #send-input{
    padding: 17px 35px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 50px;
    width: 50%;
}
.container .mail-container #send-input:hover{
    cursor: pointer;
    background: transparent;
}
.container .mail-container label{
  font-size: 1.3em;
  color: aliceblue;
  font-weight: bold;
}

@media (max-width: 820px) {
  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    margin-top: 100px;
    padding: 10px;
  }
  .contact-container .contact-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .contact-container .contact {
    position: inherit;
    height: 400px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    backdrop-filter: blur(20px);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .contact-container .contact .icon {
    position: relative;
    font-size: 200px;
  }

  .contact-container .contact h2 {
    position: relative;
    margin-top: 15px;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .contact-container .contact h2 span {
    font-size: 25px;
    font-weight: 100;
    margin-top: 3px;
    
  }

  #formulario{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    margin-top: 100px;
    padding: 50px;
  }
  .contact-container .contact-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .contact-container .contact {
    position: inherit;
    height: 280px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    backdrop-filter: blur(20px);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .contact-container .contact .icon {
    position: relative;
    font-size: 130px;
  }

  .contact-container .contact h2 {
    position: relative;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 500;
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .contact-container .contact h2 span {
    font-size: 13px;
    font-weight: 100;
    margin-top: 3px;
    
  }
}

@media (max-width: 420px) {
  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    margin-top: 70px;
    padding: 30px;
  }


  .contact-container .contact-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .contact-container .contact {
    position: inherit;
    height: 280px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    backdrop-filter: blur(20px);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .contact-container .contact .icon {
    position: relative;
    font-size: 150px;
  }

  .contact-container .contact h2 {
    position: relative;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .contact-container .contact h2 span {
    font-size: 15px;
    font-weight: 100;
    margin-top: 3px;
    
  }

  #formulario{
    width: 100%;
  }
}

@media (max-width: 375px) {
  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    margin-top: 100px;
    padding: 15px;
  }

  .contact-container .contact-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .contact-container .contact {
    position: inherit;
    height: 290px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    backdrop-filter: blur(20px);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .contact-container .contact .icon {
    position: relative;
    font-size: 150px;
  }

  .contact-container .contact h2 {
    position: relative;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-container .contact h2 span {
    font-size: 15px;
    font-weight: 100;
    margin-top: 3px;
  }

  #formulario{
    width: 100%;
  }
}