*{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100vh;
  /*background: linear-gradient(to right, rgb(0, 0, 0), rgb(24, 24, 24));*/
  background-color: rgb(33, 33, 33);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 10px;
    background:  #2c5547;
}
body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    border-right: 2px solid grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}